body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;

}
header{
    display: flex;
    background: rgb(0, 29, 79);
    color: rgb(0, 0, 0);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
}


nav a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    text-decoration: underline;
}
