body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    text-align: center;
    align-items: center;
    align-content: center;

}
header{
    display: flex;
    background: linear-gradient(rgb(0,2,62), rgb(28, 26, 130));
    background-color: rgb(43, 57, 215);
    color: rgb(4, 113, 159);
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
}


nav a {
    color: rgb(4, 113, 159);
    text-decoration: none;
    margin-left: 15px;
}

nav a:hover {
    text-decoration: underline;
}
div img {
    border-color: black;
    border: 20px;
    border-radius: 20px;
}
div a{
    display: block;
    margin-top: 15px;
}
.lugares {
    gap: 10px;
    display: flex;
    justify-content: center;
}

.card a {
    transition: 0.3;
}

.card a:hover {
    transform: scale(1.1);
}
